<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hw9" >

    <uses-sdk tools:overrideLibrary="com.pierfrancescosoffritti.androidyoutubeplayer" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_theaters_white_18dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_theaters_white_18dp"
        android:supportsRtl="true"
        android:theme="@style/Theme.HW9"
        android:usesCleartextTraffic="true" >
        <activity android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReviewFullScreen" />
        <activity android:name=".Details" />
        <activity android:name=".MainActivity" >

        </activity>
    </application>

</manifest>